<div class="row">
  <div class="img-thumbnail">
    <a href="/assets/images/Artwork1.jpeg">
      <img src="/assets/images/Artwork1.jpeg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>


  <div class="img-thumbnail">
    <a href="/assets/images/Artwork2.jpeg">
      <img src="/assets/images/Artwork2.jpeg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/Artwork3.png">
      <img src="/assets/images/Artwork3.png" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/E-4nPKrVEAEIQSK.jpg">
      <img src="/assets/images/E-4nPKrVEAEIQSK.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/F0ndjADaEAAhq2v.jpg">
      <img src="/assets/images/F0ndjADaEAAhq2v.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FcP7L1saIAEfJGJ.jpg">
      <img src="/assets/images/FcP7L1saIAEfJGJ.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FDIhphyUcAA2Kog.jpg">
      <img src="/assets/images/FDIhphyUcAA2Kog.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FgDgiEKUcAIUkdt.jpg">
      <img src="/assets/images/FgDgiEKUcAIUkdt.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FGOIsEaVgAIV2yl.jpg">
      <img src="/assets/images/FGOIsEaVgAIV2yl.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FM0v8clVEAIm6U4.png">
      <img src="/assets/images/FM0v8clVEAIm6U4.png" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FPEpsIgVcAUSZe-.jpg">
      <img src="/assets/images/FPEpsIgVcAUSZe-.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/Fpsp5xqaUAAwzqJ.jpg">
      <img src="/assets/images/Fpsp5xqaUAAwzqJ.jpg" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

  <div class="img-thumbnail">
    <a href="/assets/images/FQW8f4hVsAAz31u.png">
      <img src="/assets/images/FQW8f4hVsAAz31u.png" alt="IMG" style="width:100%">
      <div class="figure-caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>
  </div>

</div>
