<div class="row">
  <div class="col-md-4">
    <div class="img-thumbnail">
      <a href="/assets/images/Artwork1.jpeg">
        <img src="/assets/images/Artwork1.jpeg" alt="IMG" style="width:100%">
        <div class="figure-caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="img-thumbnail">
      <a href="/assets/images/Artwork2.jpeg">
        <img src="/assets/images/Artwork2.jpeg" alt="IMG" style="width:100%">
        <div class="figure-caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="img-thumbnail">
      <a href="/assets/images/Artwork3.png">
        <img src="/assets/images/Artwork3.png" alt="IMG" style="width:100%">
        <div class="figure-caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>
