.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

@media screen and (min-width:600px) {
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr))
  }
}
