<div class="modal-header">
  <h3 class="modal-title" style="font-family: silkscreennormal">Terms of Service</h3>
  <button type="button" class="btn-close" aria-label="Close" routerLink="commissions"></button>
</div>
<div class="modal-body">
  <p>
    <span style="font-size: x-large; font-weight: bold; font-style: italic">By commissioning me, you are agreeing to the
    terms of service listed below. The following statements are subject to to change upon discussion with me, the artist,
    PRIOR to the commission.</span>
  </p>


  <h4>I. GENERAL TERMS.</h4>
  <p>
    Please write in a clear and polite manner. <br>
    Provide clean, easily understandable references.<br>
    Any ill behaviour will not be tolerated and your commission will be cancelled if it occurs.<br>
    Follow the rules provided in the commission info on the website.<br>
    Failure to comply with the rules provided will result in practice of my right to decline your commission.<br>
  </p>


  <h4>II. PAYMENT</h4>
  <p>
    All commissions must be paid in full before final product is delivered.
    <br>
    The accepted currency is USD.
  </p>


  <h4>III. PROCESS</h4>
  <p>
    Work In Progress will be given throughout the creation process upon inquiry by the commissioner.
    WIPs might be given as well if I the artist, have questions regarding the commission as I work on it.
    <br>
    The time for your commission to be completed can be UPWARDS OF 3 months depending on many factors such as (but not limited to):
    <br>
    Health, order of commission, complexity of commission, work, school or family issues.
    <br>
    If any above occurs, you will be notified asap.
  </p>

  <h4>IV. CUSTOMER SATISFACTION</h4>
  <p>
    I will do everything within my ability to make my customers happy.
    <br>
    However, after a commission is completed, only small changes are allowed.
    Such as: small colouring/marking mistakes.
    <br>
    Any changes that go beyond the above listed is subject to discussion and will result in additional charge(s).
    <br>
    Such as but not limited to: outfit change(s) (e.g. addition or subtraction of apparel), background change(s), or anything that requires a full redraw (e.g. sketch and lining).
    <br>
    Clarity in expectation and your request is MANDATORY to ensure full accuracy in the final product. Failure to communicate will result in the above listed penalty/penalties
  </p>

  <h4>V. COPYRIGHT / USAGE POLICY</h4>
  <p>
    I, the artist, hold all rights to the final production, not the commissioner.
    Therefore I'm allowed to use the copyrighted artwork to promote myself/display the WIP and/or completed piece within any space, location, or site of my choosing.
  </p>
  The commissioner(s) is/are allowed to:
  <ul>
    <li>Use the copyrighted artwork for personal use only, unless discussed and agreed otherwise with me, the artist.</li>
    <li>Print the art, and claim the right of their character(s) but not the drawing itself.</li>
    <li>Use the art to promote themselves with proper credit given to me, the artist.</li>
  </ul>
  <span style="font-style: italic; font-weight: bold">Failure to comply with copyright infringement in any way, will result in forfeit of all rights you, the commissioner, had to the commission.</span>
  <br>
  The following is considered as (but not limited to) Copyright Infringement:
  <ul>
    <li>Reproduction/use of the copyrighted artwork commercially (e.g. making money of it in any way).</li>
    <li>Taking SOLE credit for the creation of the artwork.</li>
    <li>Removal of any watermarks/signatures.</li>
    <li>Altering the artwork without consent given by me, the artist.</li>
  </ul>
  <p>
    A Purchase of Commercial Rights to the artwork will always be 300% of the price of the piece as a fully lined, colored,
    shaded piece. With commercial rights, you are allowed to make any sort of merchandise with the artwork, use it in books or
    covers, as props, change it to your liking and promote your own brand with. However, credit is still required for usage of
    the artwork, even if altered or edited.
    <br>
    <span style="font-style: italic; font-weight: bold;">Purchase of Commercial Rights will be charged IN ADDITION to the commission's original price.</span>
  </p>

  <h4>VI. CANCELLATION/REFUND POLICY</h4>
  <p>
    As the artist, I hold the right to cancel and refund your commission at any time. You, as the commissioner, hold no right
    to cancel or demand a refund from the artist under any circumstances after payment is received or when the product is finished.
    If money has not yet been sent or the commission is not yet started, the commissioner has the right to cancel the commission.
  </p>
  <p>
    If you file a chargeback against me, you forfeit all rights to all commissions and pieces I have been contracted to create
    for you, and I have the right to sell the copyrighted artwork to new buyers.
    <span style="font-weight: bold; font-style: italic">You will be forbidden to ever commission me, Pyupew, ever again in this circumstance.</span>
    Your name will be publicly posted at any/all space(s), location(s), and/or site(s) of my choosing for others to be aware of.
    I also hold all rights to file a complaint and keep to the money paid for the commission.
  </p>
  <p>
    Any statement can be subject to change if discussed with me, the artist, prior to the commission.
  </p>
</div>
<div class="modal-footer">Referenced Terms of Service from Yamio on DeviantArt</div>
