<div class="title h1">
  commission info
</div>

<div class="commissions text-center">
  <h2>STATUS:</h2>
  <h2 *ngIf="commissionStatus">OPEN <i class="bi bi-sun"></i></h2>
  <h2 *ngIf="!commissionStatus">CLOSED <i class="bi bi-moon-stars"></i></h2>

  <hr>
  <div *ngIf="commissionStatus">
    <h3>Slots</h3>
    <table>
      <tr>
        <th>1</th>
        <td>OPEN</td>
      </tr>
      <tr>
        <th>2</th>
        <td>OPEN</td>
      </tr>
      <tr>
        <th>3</th>
        <td>OPEN</td>
      </tr>
    </table>
    <hr>
  </div>

  <h3><i class="bi bi-stars"></i> Rules <i class="bi bi-stars"></i></h3>
  <p class="text-center">
    Please click the button below to read my Terms of Service. Everything covered in my Terms of Service applies unless stated otherwise.
  </p>
  <a class="button" routerLink="./tos"><i class="bi bi-exclamation-triangle"></i> Terms of Service <i class="bi bi-exclamation-triangle"></i></a>
  <router-outlet></router-outlet>
  <div class="rules">
    <div class="dos">
      <span class="text-center" style="font-family: silkscreennormal; display: block; font-size: x-large;">Dos <i class="bi bi-check-circle"></i></span>
      <ul>
        <li>Humans / Humanoids</li>
        <li>Cartoons</li>
        <li>Pixel Art</li>
        <li>Soft Furry, Sonic, My Little Pony</li>
        <li>NSFW (Subject to refusal at my discretion after discussion of content)</li>
      </ul>
    </div>
    <div class="donts">
      <span class="text-center" style="font-family: silkscreennormal; display: block; font-size: x-large;">Donts <i class="bi bi-x-lg"></i></span>
      <ul>
        <li>Content with malicious intent (racism, sexism, discrimination against an individual, group, or medium)</li>
        <li>Mechas, Complicated Robots</li>
        <li>No NSFW of Real People</li>
      </ul>
    </div>
  </div>
  <h5 style="font-family: silkscreennormal">important notes</h5>
  <div class="info" style="text-align: left; margin: auto">
    <ul>
      <li>Commissions can take upwards of 3 months to complete depending on the complexity! Please do not expect the
      artwork to be done before then. You will be given updates throughout the process as well if I run into any technical
        difficulties that will prolong the time until delivery.</li>
      <li>I will give you updates on your commission upon request and will contact you if I have any questions regarding
        your commission.</li>
      <li>I am willing to do most NSFW content, but you must discuss it with me before I accept. I have every right
      to decline if I am uncomfortable with the content.</li>
      <li>Payment MUST be received before final product is delivered to you.</li>
      <li>For questions not covered here or in my Terms of Service, feel free to contact me!</li>
    </ul>
  </div>

  <hr>

  <h3>
    <i class="bi bi-bag-heart"></i> Pricing <i class="bi bi-bag-heart"></i>
  </h3>

  <div class="option-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
  </div>
  <div class="option">
    <div class="desc-item">
      <h4>Pixel Art $5</h4>
      <div class="description">
        Pixel art includes full color and no background. Delivered as a .gif
        <br>
        Sizing:
        <ul>
          <li>Min: 50px x 50px</li>
          <li>Max: 300px x 300px</li>
        </ul>
      </div>

      <div class="add-on">
        Add Ons:
        <ul style="list-style-type:none;">
          <li>+ $1 for shading</li>
          <li>+ $1.30 / frame for animation (max 5 frames)</li>
        </ul>
      </div>
    </div>

    <div class="example-item">
      <img src="assets/images/pixel.png">
    </div>
  </div>

  <div class="option-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
  </div>
  <div class="option">
    <div class="desc-item">
      <h4>Pop Art $8</h4>

      <div class="description">
        Minimalistic styles with a maximum of 3 colors. Backgrounds are free but must be simple.
      </div>
    </div>

    <div class="example-item">
      <img src="assets/images/popart.jpg">
    </div>
  </div>

  <div class="option-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
  </div>
  <div class="option">
    <div class="desc-item">
      <h4>Sketch $10</h4>
      <div class="description">
        Sketchy line art with optional color and shading
      </div>

      <div class="add-on">
        Add Ons:
        <ul style="list-style-type:none;">
          <li>+ $3 simple color and minimal shading</li>
          <li>+ 20% for detailed backgrounds without color</li>
          <li>+ 25% for detailed background with color</li>
        </ul>
      </div>
    </div>

    <div class="example-item">
      <img src="assets/images/sketch.png">
    </div>
  </div>

  <div class="option-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
  </div>
  <div class="option">
    <div class="desc-item">
      <h4>Lineart $20</h4>
      <div class="description">
        Clean lines and will refer to style in sample unless stated otherwise.
      </div>

      <div class="add-on">
        Add Ons:
        <ul style="list-style-type:none;">
          <li>+ $3 flat color</li>
          <li>+ 30% for detailed backgrounds</li>
        </ul>
      </div>
    </div>

    <div class="example-item">
      <img src="assets/images/lineart.png">
    </div>
  </div>

  <div class="option-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
  </div>
  <div class="option">
    <div class="desc-item">
      <h4>Full $30</h4>

      <div class="description">
        Clean lines along with full color and shading.
      </div>

      <div class="add-on">
        Add Ons:
        <ul style="list-style-type:none;">
          <li>+ 40% for detailed backgrounds</li>
        </ul>
      </div>
    </div>

    <div class="example-item">
      <img src="../../assets/images/full.jpg">
    </div>
  </div>

  <div class="option-top" style="font-family: silkscreennormal">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
    Add Ons
  </div>
  <div class="option">
    <div class="additional-add-ons">
      <ul style="list-style-type:none;">
        <li>+ 50% of Original Price for Each Extra Character (Max 6)</li>
      </ul>
    </div>
  </div>

  <hr>

  <h3>The Process</h3>
  <div class="process">
    <div class="process-item">
      <i class="process-icon bi bi-postcard-heart"></i>
      <div class="process-text">Inquiry</div>
    </div>

    <i class="process-icon bi bi-heart-arrow"></i>

    <div class="process-item">
      <i class="process-icon bi bi-hand-thumbs-up"></i>
      <div class="process-text">Agreement</div>
    </div>

    <i class="process-icon bi bi-heart-arrow"></i>

    <div class="process-item">
      <i class="process-icon bi bi-pen"></i>
      <div class="process-text">Creation</div>
    </div>

    <i class="process-icon bi bi-heart-arrow"></i>

    <div class="process-item">
      <i class="process-icon bi bi-currency-dollar"></i>
      <div class="process-text">Payment</div>
    </div>

    <i class="process-icon bi bi-heart-arrow"></i>

    <div class="process-item">
      <i class="process-icon bi bi-envelope-paper-heart"></i>
      <div class="process-text">Delivery</div>
    </div>
  </div>

  <div class="process-description">
    <ol>
      <li>
        <span style="font-weight: bold">Inquiry:</span> During the inquiry phase, you will contact me and provide the information needed in order to create your commission.
        Below there is a template that you can fill out to streamline the process and make it easier!
      </li>
      <li>
        <span style="font-weight: bold">Agreement:</span> I will review your commission request. I will discuss the request with you and what I am able and not able
        to do if needed. Once we reach an agreement on the content of the commission and the price, I will be able to start your commission!
        Throughout this I have the right to decline your request at any time.
      </li>
      <li>
        <span style="font-weight: bold">Creation:</span> Throughout the creation of your commission, I will update you for approval and ask questions regarding the
        content if necessary. This phase also includes revisions if there is something you are not happy with.
      </li>
      <li>
        <span style="font-weight: bold">Payment:</span> Payment is needed before the commission is finished in order to receive the final product. I take payment through
        Stripe (preferred). Payment is also taken through Paypal, however the commissioner is responsible for any extra fees.
      </li>
      <li>
        <span style="font-weight: bold">Delivery:</span> Once payment is received and you are happy with your commission, you will receive the artwork in png! You can
        also receive it in another file format if requested.
      </li>
    </ol>
  </div>

  <hr>

  <h3>Request a Commission</h3>
  To request a commission, contact me through any of the following
  <div class="button" (click)="openContact()">Contact Me <i class="bi bi-envelope-heart"></i></div>
  <p>
    To make the process easier, please have this information ready when requesting to make discussion regarding the commission easier!
    Feel free to copy and paste this template when inquiring from me.
  </p>

  <div class="template-top">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-heart-half"></i>
    <i class="bi bi-heart"></i>
    Commission Request Template
  </div>
  <div class="template" formGroupName="commissionForm">
    <label for="contact">Email or Discord: </label><input type="text" id="contact" formControlName="contact">
    <label for="type">Commission Type: </label>
      <select formControlName="type" id="type">
        <option value="pixel">Pixel</option>
        <option value="pop">Pop Art</option>
        <option value="sketch">Sketch</option>
        <option value="lineart">Line Art</option>
        <option value="full">Full</option>
      </select>
    <label for="numCharacters">Number of Characters (max of 5): </label><input type="number" id="numCharacters" formControlName="numCharacters" min="1" max="5">
    <span><label for="hasBackground">Detailed Background: </label><input id="hasBackground" type="checkbox" formControlName="hasBackground"></span>
    <label for="description">Basic Commission Description: </label><input id="description" type="text" formControlName="description">
    <span><label for="refImages">Reference Images: </label><input id="refImages" type="image" formControlName="refImages"></span>
    <span><label for="isPrivate">Private Commission:  </label> <input id="isPrivate" type="checkbox" formControlName="isPrivate"></span>
    <p><input type="submit" value="Submit"></p>
  </div>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckmaFTK3BoCZiQxxN0JDf6oMd1zSXEKJEjizZSh2AW1ltkHA/viewform?embedded=true" width="640" height="1398" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
