.title {
  font-family: silkscreennormal;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 5%;
  padding: 10px;
  color: #ff9cd4;
  border-color: #ff9cd4;
  border-style: solid;
  border-radius: 9px;
}


@media screen and (min-width: 800px) {
  .title {
    margin: 20px 20%;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin: 20px 25%;
  }
}

.commissions {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #ff9cd4;
  padding: 30px 30px 30px;
  margin: 20px 40px 40px;
  border-radius: 9px;
}

table {
  border-collapse: collapse;
  margin: 2px auto 12px;
  width: auto;
}

td, th {
  font-family: silkscreennormal;
  border: 1px solid white;
  text-align: center;
  padding: 8px 20px;
}

.rules {
  text-align: left;
  margin: 10px 30px;
}

h2 {
  font-family: silkscreennormal;
}

h3 {
  font-family: silkscreennormal;
}

.option {
  margin: 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-item {
  width: 100%;
  text-align: left;
  padding: 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.example-item {
  width: 100%;
  padding: 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .option {
    flex-direction: row;
  }
}
