.title {
  font-family: silkscreennormal;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 10%;
  padding: 10px;
  color: white;
  background-color: #ff9cd4;
  border-color: #ff9cd4;
  border-style: solid;
  border-radius: 9px;
}

.commissions {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #ff9cd4;
  padding: 30px 30px 30px;
  margin: 20px 5% 40px;
  border-radius: 9px;
}


table {
  border-collapse: collapse;
  margin: 2px auto 12px;
  width: auto;
}

td, th {
  font-family: silkscreennormal;
  border: 1px solid #ff9cd4;
  color: #ff9cd4;
  background-color: white;
  text-align: center;
  padding: 8px 20px;
}

.rules {
  text-align: left;
  margin: 10px 30px;
}

h2 {
  font-family: silkscreennormal;
}

h3 {
  font-family: silkscreennormal;
}

.option {
  margin: 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-item {
  width: 100%;
  text-align: left;
  padding: 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.example-item {
  width: 100%;
  padding: 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .title {
    margin: 20px 20%;
  }

  .commissions {
    margin: 20px 5% 40px;
    padding: 30px 20% 30px;
  }

  img {
    width: 100%;
  }

}

@media screen and (min-width: 800px) {
  .title {
    margin: 20px 30%;
  }

  .commissions {
    margin: 20px 10% 40px;
    padding: 30px 10% 30px;
  }

  img {
    width: 50%;
  }

}

@media screen and (min-width: 1280px) {
  .title {
    margin: 20px 25%;
  }

  .option {
    flex-direction: row;
  }

  img {
    width: 60%;
  }

}
