<div class="title h1">
  <i class="bi bi-brush"></i>
  commissions
  <i class="bi bi-easel2"></i>
</div>

<div class="commissions text-center">
  <h2>OPEN</h2>

  <hr>

  <h3><i class="bi bi-stars"></i> Rules & Info <i class="bi bi-stars"></i></h3>
  <div class="rules">
    <ul>
      <li>Styles include Cartoon/sonic/mlp/human/furry</li>
      <li>Can be NSFW, comfortable with most things but please DM me regarding content</li>
      <li>Willing to negotiate on options not listed</li>
      <li>MUST be paid before artwork is finished</li>
      <li>Will give updates throughout the process</li>
      <li>For any other questions, please feel free to contact me.</li>
    </ul>
  </div>

  <hr>

  <h3><i class="bi bi-coin"></i> Pricing <i class="bi bi-coin"></i></h3>
  Pixels - $5
  Includes color, no backgrounds
  minimum 50x50px
  max 300 x 300 px
  +$1 for shading
  animation
  +$1.30 per frame
  maximum 5 frames
  delivered as a .gif

  Pop Art - $8
  Minimalistic lines only
  3 colors max
  Backgrounds free, must be simple

  Sketch - $10
  +20% of original price for detailed backgrounds

  Sketch+Color - $13
  Simple color and minimal shading

  Lineart - $20
  Clean lines. Will refer to sample unless stated otherwise
  +$3 for flat color
  +30% of original price for complex backgrounds

  Full - $30
  clean lines, full color, full shading
  +40% of original price for complex backgrounds


</div>
