.title {
  font-family: silkscreennormal;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 10%;
  padding: 10px;
  color: white;
  background-color: #ff9cd4;
  border-color: #ff9cd4;
  border-style: solid;
  border-radius: 9px;
}

.commissions {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #ff9cd4;
  padding: 30px 30px 30px;
  margin: 20px 40px 20px;
  border-radius: 9px;
}


table {
  border-collapse: collapse;
  margin: 2px auto 12px;
  width: auto;
}

td, th {
  font-family: silkscreennormal;
  border: 1px solid #ff9cd4;
  color: #ff9cd4;
  background-color: white;
  text-align: center;
  padding: 8px 20px;
}

.rules {
  text-align: left;
  margin: 10px 30px;
}

h2 {
  font-family: silkscreennormal;
}

h3 {
  font-family: silkscreennormal;
}

h4 {
  font-family: silkscreennormal;
}

.option-top {
  text-align: left;
  letter-spacing: 4px;
  padding: 4px 10px 4px;
  margin: 10px 5px 0px;
  background: white;
  color: #ff9cd4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.option {
  border: 3px solid white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desc-item {
  width: 100%;
  text-align: left;
  padding: 15px 15px 5px;
  display: flex;
  flex-direction: column;
}

.example-item {
  width: 100%;
  padding: 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
}

.description {
  background-color: white;
  color: #ff9cd4;
  font-family: silkscreennormal;
  padding: 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.add-on {
  background-color: white;
  color: #ff9cd4;
  font-family: silkscreennormal;
  padding: 10px 10px 0px;
  margin-left: 30px;
  border-radius: 4px;
}

.additional-add-ons {
  font-family: silkscreennormal;
  margin-top: 10px;
  margin-right: 25px;
}

.process {
  font-family: silkscreennormal;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.process-icon {
  font-size: 20px;
}

.process-item {
  display: inline-block;
}

.process-description {
  text-align: left;
  font-size: 18px;
}

.button {
  border: none;
  color: #ff9cd4;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin: auto;
  text-align: center;
  display: inline-block;
  font-family: silkscreennormal;
  font-size: 20px;
  cursor: pointer;
}

.template-top {
  text-align: left;
  letter-spacing: 4px;
  padding: 4px 10px 4px;
  margin: 10px 5px 0px;
  background: white;
  color: #ff9cd4;
  font-family: silkscreennormal;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.template {
  border: 3px solid white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0px 5px 5px;
  padding: 10px 20px 0px;
  display: flex;
  text-align: left;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .title {
    margin: 20px 20%;
  }

  .process {
    font-size: 14px;
  }

  .process-icon {
    font-size: 24px;
  }
}

@media screen and (min-width: 800px) {
  .title {
    margin: 20px 30%;
  }

  .commissions {
    margin: 20px 10% 20px;
    padding: 30px 10% 30px;
  }

  .process {
    font-size: 18px;
  }

  .process-icon {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin: 20px 25%;
  }

  .option {
    flex-direction: row;
  }
}

@media screen and (min-width: 1920px) {
  .commissions {
    margin: 20px 300px 20px;
  }

  .desc-item {
    flex: 2;
  }

  .example-item {
    flex: 1.25;
  }
}
