<div class="title h1 text-center">Commissions</div>
<div class="commissions text-center">
  <h2>CLOSED</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </p>
  <h3>Pricing & Options</h3>

</div>
