/* You can add global styles to this file, and also import other style files */
@import url('https://use.typekit.net/gsr7uey.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
  margin-bottom: 60px;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
