/* You can add global styles to this file, and also import other style files */
@import url('https://use.typekit.net/gsr7uey.css');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.cdnfonts.com/css/lulo-clean');

body {
  background-image: url("src/assets/images/pawel-czerwinski-Pv8HPFPp6IA-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
}

html {
  font-family: Verdana;
  font-size: medium;
}

@font-face {
  font-family: 'silkscreennormal';
  src: url('assets/Silkscreen-fontfacekit/web fonts/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silkscreenbold';
  src: url('assets/Silkscreen-fontfacekit/web fonts/silkscreen_bold_macroman/slkscrb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'silkscreen_expandednormal';
  src: url('assets/Silkscreen-fontfacekit/web fonts/silkscreenexpanded_normal_macroman/slkscre-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
