<div class="welcome">
  <h1>PYUPEW</h1>
  <p>Freelance Artist</p>
  <img src="assets/images/profile.jpg" class="profile-img">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </p>

  <hr class="rounded">

  <h2 class="text-center">Latest Sticker Release!</h2>
  <img src="assets/images/sticker.jpg" style="width:300px;">

  <hr class="rounded">

  <div class="socials text-center">
    <h2>Socials</h2>
    <a href="https://twitter.com/pyupew" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.instagram.com/pyupew/?hl=en" class="fa fa-instagram" target="_blank"></a>
    <a href="https://pyupew.tumblr.com/" class="fa fa-tumblr" target="_blank"></a>
    <a href= "https://www.deviantart.com/pyupew" class="fa fa-deviantart" target="_blank"></a>
  </div>

  <hr class="rounded">

  <div class="contact-button" (click)="open()">Contact Me <i class="bi bi-envelope-heart"></i></div>

</div>
