<div class="welcome">
  <h1>PYUPEW</h1>
  <p>Freelance Artist</p>
  <img src="assets/images/profile.jpg" class="profile-img">
  <p>
    I draw and stuff :D
  </p>

  <hr class="rounded">

  <div class="socials text-center">
    <h2>Socials</h2>
    <a href="https://twitter.com/pyupew" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.instagram.com/pyupew/?hl=en" class="fa fa-instagram" target="_blank"></a>
    <a href="https://pyupew.tumblr.com/" class="fa fa-tumblr" target="_blank"></a>
    <a href= "https://www.deviantart.com/pyupew" class="fa fa-deviantart" target="_blank"></a>
  </div>

  <hr class="rounded">

  <h2 class="text-center">Latest Sticker Release!</h2>
  <img src="assets/images/sticker.gif" style="width:300px; border-radius: 4px;">
  <a class="etsy" href="https://www.etsy.com/listing/1269495456/cute-sans-undertale-peeker-sticker-vinyl?click_key=6c6e3bf2e5d058d13c8c64652a2adff45be4663f%3A1269495456&click_sum=4f342c93&ref=shop_home_active_1"
     target="_blank">buy on etsy</a>

  <hr class="rounded">

  <div class="contact-button" (click)="open()">Contact Me <i class="bi bi-envelope-heart"></i></div>

</div>
